body {
    margin: 50px;
}

.person h2 {
    font-size: 18px;
    margin-top: 2px;
}

.person {
    float: left;
    margin: 20px;
    padding: 20px;
    border: 1px dotted gray;
}

.button {
  height: 100%;
  width: 50px
}

#next {
  align-items:
  /*put on right side of page*/
}

#prev {

  /*put on left side of page*/
}
.indexBox{
  height: 20px;
  width: 20px;
  background-color: black;
  border-color: white;
  border-radius: 5px;
  display: inline-block;
}
