body {
    margin: 50px;
    text-align: center;
}

.person h2 {
    font-size: 18px;
    margin-top: 2px;

}

.person {
    float: left;
    margin: 20px;
    padding: 20px;
    border: 1px dotted gray;
    text-align: center;
    
}

.button {
  height: 100%;
  width: 75px;

}

#next {
  float: right;
  left: 100px;

}

#prev {
float: left;
right: 100px;

}

.indexBox{
  height: 20px;
  width: 20px;
  background-color: black;
  border-color: white;
  border-radius: 5px;
  display: inline-block;

}
