body {
    margin: 50px;
    text-align: center;

}

.person h2 {
    font-size: 18px;
    margin-top: 2px;

}

.person {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px dotted gray;
    text-align: center;
    display: block;

}
#ajax-data{
  width: 100%;
}

.button {
  height: 100%;
  width: 75px;
}

#next {
  float: right;
  left: 100px;
  margin-right: 25%;
}

#prev {
float: left;
right: 100px;
margin-left: 25%;
}

.indexBoxes{
  height: 20px;
  width: 20px;
  background-color: black;
  border-color: white;
  border-radius: 25px;
  display: inline-block;
}

#indexContainer{
  margin-top: 50px;
  text-align: center;
}
